{% ckan_extends %}

  {% block metadata_fields %}
{% call form.checkbox('zip_extract', checked=data.zip_extract, label='Extract Resources from Zip Files', value='True') %}
<br/>
Whether any resources inside zip files should be extracted into separate resources.

{% endcall %}

    {% call form.input('last_modified', label=_('Last Modified'), id='field-last_modified',
placeholder=_('When the file uploaded was last modified'),
value=data.last_modified, error=errors.last_modified, classes=['control-full'], is_required='true') %}
        <br/>
When was the file uploaded was last modified? If left blank, assumed to be the date of last modification of resource information on this site. 
    {% endcall %}

<span id="wms_layer" style="display:none;">
      {{ form.input('wms_layer', id='field-wms_layer', label=_('WMS Layer ID'), placeholder=_('eg. 1'), value=data.wms_layer, error=errors.wms_layer, classes=['control-full']) }}
</span>
{% endblock %}
