{% ckan_extends %}
    {% block meta %}
      {{ super() }}
      <meta name="google-site-verification" content="B8scmW2_LMm4IW_ogXK9lojznO57GBpYlWrFjfGz3X8" />
    {% endblock %}

    {% block styles %}
      {{ super() }}
      {% resource 'ckanext-datagovau/css/datagovau.css' %}
      <!--[if lt IE 9]>
      <style>
          .media-item {width: 92%;}
          .organisation .media-item {width: 43%;text-align: center;min-height: 200px;}
          .media-item .media-image {float: right;}
          .organisation .media-item .media-image {float: none;}
          </style>
      <![endif]-->
    {% endblock %}

    {% block scripts %}
    {{ super() }}
    {% resource 'ckanext-datagovau/js/datagovau.js' %}
    {% endblock %}