{% ckan_extends %}

{% block header_account_logged %}
{% if c.userobj.sysadmin %}
<li>
    <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
        <i class="icon-legal"> Sysadmin settings</i>
    </a>
</li>
{% endif %}
<li>
    <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
        <span class="username">{{ c.userobj.display_name }}</span>
    </a>
</li>
{% set new_activities = h.new_activities() %}
<li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
        <i class="icon-dashboard"> notifications_tooltip</i>
        <span>{{ new_activities }}</span>
    </a>
</li>
{% block header_account_settings_link %}
<li>
    <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
        <i class="icon-cog"> Edit settings</i>
    </a>
</li>
{% endblock %}
{% block header_account_log_out_link %}
<li>
    <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
        <i class="icon-signout"> Log out</i>
    </a>
</li>
{% endblock %}

{% block header_site_navigation %}
    <nav class="section navigation">
      <ul class="nav nav-pills">
        {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),
          ('about', _('About'))
        ) }}
        <li><a href="//data.gov.au/stats">Site Statistics</a></li>
        <li><a href="https://datagovau.ideascale.com/">Feedback/Request Data</a></li>
        {% endblock %}
      </ul>
    </nav>
{% endblock %}
