{% ckan_extends %}

{% block header_site_navigation %}
    <nav class="section navigation">
      <ul class="nav nav-pills">
        {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),
          ('about', _('About'))
        ) }}
        <li><a href="//data.gov.au/stats">Site Statistics</a></li>
        <li><a href="https://datagovau.ideascale.com/">Feedback/Request Data</a></li>
        {% endblock %}
      </ul>
    </nav>
{% endblock %}
