{% ckan_extends %}

{% block links -%}
{{ super() }}
{% endblock -%}

{% block head_extras -%}
{{ super() }}
{% endblock -%}

{% block package_info %}
<div class="module context-info">
    <div class="module-content">
        <h1 class="heading" property="dct:title">{{ pkg.title or pkg.name }}</h1>
        <div class="nums">
            <dl>
                <dt>{{ _('Followers') }}</dt>
                <dd>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</dd>
            </dl>
        </div>
        <div class="follow_button">
            {{ h.follow_button('dataset', pkg.name) }}
        </div>
    </div>
</div>
{% endblock %}

